version: "2"

services:
 pushgateway:
  image: prom/pushgateway:v1.10.0
  restart: always

 prometheus:
  image: prom/prometheus:v3.0.1
  restart: always
  networks:
   - terminator
   - default
  depends_on:
   - pushgateway
   - blackbox
  volumes:
   - "./data/prometheus-data:/prometheus"
   - "./config/prometheus.yml:/etc/prometheus/prometheus.yml"
  command:
   - '--config.file=/etc/prometheus/prometheus.yml'
   - '--storage.tsdb.path=/prometheus'
   - '--storage.tsdb.retention.time=72h'

 blackbox:
  image: prom/blackbox-exporter:v0.25.0
  restart: always
  networks:
   - terminator
   - default
  volumes:
    - "./config/blackbox.yml:/config/blackbox.yml"
  command: --config.file=/config/blackbox.yml
  cap_add:
   - NET_RAW

 influxdb:
  image: influxdb:1.8.10
  restart: always
  environment:
   INFLUXDB_ADMIN_ENABLED: "true"
  volumes:
   - "./data/influxdb:/var/lib/influxdb"
  logging:
   options:
    max-size: 50m

 grafana:
  image: grafana/grafana:11.4.0
  restart: always
  environment:
   GF_AUTH_GITHUB_CLIENT_SECRET: "{{grafana_auth_github_secret}}"
   GF_SECURITY_ADMIN_PASSWORD: "{{grafana_admin_pass}}"
  depends_on:
   - prometheus
   - influxdb
  volumes:
   - "./data/grafana-data:/var/lib/grafana"
   - "./config/grafana.ini:/etc/grafana/grafana.ini"

 nodered:
  image: nodered/node-red:4.0.5-18-minimal
  depends_on:
   - influxdb
  restart: always
  environment:
   TZ: Europe/Zurich
   GITHUB_SECRET: "{{nodered_auth_github_secret}}"
  volumes:
   - "./data/nodered:/data"
   - "./config/nodered.js:/data/settings.js"
  logging:
   options:
    max-size: 50m

 nginx:
  image: nginx:1.27.3
  networks:
   - terminator
   - default
  restart: always
  volumes:
   - "./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
   - "./config/nginx/routes:/routes"
  labels:
    - "traefik.enable=true"
    - "traefik.docker.network=terminator"
    - "traefik.http.routers.monitoring-luanti-ch.rule=Host(`monitoring.luanti.ch`)"
    - "traefik.http.services.monitoring-luanti-ch.loadbalancer.server.port=80"
    - "traefik.http.routers.monitoring-luanti-ch.entrypoints=websecure"
    - "traefik.http.routers.monitoring-luanti-ch.tls.certresolver=default"
  depends_on:
   - grafana
   - pushgateway
   - nodered
  logging:
   options:
    max-size: 50m

 redirect:
   image: morbz/docker-web-redirect:v1.0
   restart: always
   environment:
    - REDIRECT_TARGET=monitoring.luanti.ch
   labels:
    - "traefik.enable=true"
    - "traefik.docker.network=terminator"
    - "traefik.http.routers.monitoring-minetest-ch.rule=Host(`monitoring.minetest.ch`)"
    - "traefik.http.services.monitoring-minetest-ch.loadbalancer.server.port=80"
    - "traefik.http.routers.monitoring-minetest-ch.entrypoints=websecure"
    - "traefik.http.routers.monitoring-minetest-ch.tls.certresolver=default"
   networks:
    - default
    - terminator

networks:
 terminator:
  external: true
